@font-face {
	font-family: 'IcoMoon';
	src: url('../fonts/IcoMoon.eot');
	src: url('../fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/IcoMoon.svg#IcoMoon') format('svg'),
		url('../fonts/IcoMoon.woff') format('woff'),
		url('../fonts/IcoMoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
i:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
.i-flash:before {
	content: "\22";
}
.i-list:before {
	content: "\23";
}
.i-document:before {
	content: "\25";
}
.i-eye:before {
	content: "\21";
}
.i-github:before {
	content: "\24";
}
.i-center:before {
	content: "\26";
}
.i-retweet:before {
	content: "\27";
}
.i-trophy:before {
	content: "\28";
}
.i-install:before {
	content: "\29";
};
