@import "libraries/normalize";

@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/functions";
@import "components/button";
@import "components/icons";
@import "components/code";
@import "components/table";


// Style Defaults ------------------------------
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: $bodyBackground;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: $textColor;
    font-size: $baseFontSize;
    line-height: $baseLineHeight;
}

a {
    color: $link;
    text-decoration: none;
    @include transition(color .3s ease);

    &:hover {
        color: $linkHover;
        text-decoration: none;
    }

    &:visited {
        color: $link;
    }
}

h1 {
    display: block;
    color: white;
    font-size: 2.7em;

    .version {
        color: $grayLighter;
        font-weight: 300;
        font-size: .6em;
    }
}

h3 {
    color: $grayDark;
    font-size: 1.75em;
    margin: 1.75em 0 .5em;

    &:before {
        content: '# ';
        color: $grayLighter;
        font-weight: normal;
    }

    &:first-child {
        margin-top: 1em;
    }
}

h4 {
    color: $gray;
    font-size: 1.2em;
    margin-bottom: .4em;
}

.hero {
    padding-top: 3em;
    background: radial-gradient(ellipse 75em 55em at top, #ff6a00, #ee0979);

    .inner {
    }

    .header {
        max-width: $innerWidth;
        margin: auto;
        padding: 0 1em 2em;
    }

    h1 {
        margin-bottom: .5em;
    }

    .tagline {
        display: block;
        line-height: 1.5em;
        color: $grayLightest;
        font-size: 1.3em;
        margin: 0;
    }

    .github-links {
        margin: 2em 0 0;
    }

    .ad {
        padding: 1em 1em 0;
        background: rgba(255, 255, 255, 0.9);

        .inner {

            max-width: $innerWidth;
            margin: auto;
        }

        #carbonads {
            margin: auto;
            max-width: 20em;

            .carbon-wrap {
                @include clearfix;
                display: block;
                background-color: white;
                padding: .5em;
                border: $tableBorder;
                border-radius: $tableBorderRadius;
            }

            .carbon-img {
                display: block;
                float: left;
                margin-right: .5em;

                img {
                    display: block;
                }
            }

            .carbon-poweredby {
                display: block;
                text-align: right;
                font-size: .8em;
                color: $grayLight;

                &:hover {
                    color: $link;
                }
            }
        }
    }
}

.content {
    padding: 1em;

    .inner {
        max-width: $innerWidth;
        margin: auto;
    }

    .nav {
        display: none;
    }

    table {
        max-width: 100%;
        width: 100%;

        th,
        td {
            width: 33%;
        }
    }
}

.footer {
    padding: 1em;

    .inner {
        max-width: $innerWidth;
        margin: auto;
    }

    p {
        color: $gray;
    }
}

// Media Queries ------------------------------
@media (min-width: 768px) {
}

// Landscape tablet or desktop
@media (min-width: 981px) {
    .hero {

        .inner {
            @include clearfix();
            max-width: 60em;
            margin: auto;
        }

        h1 {
            font-size: 3.5em;
        }

        .header {
            float: left;
            padding-left: 0;
        }

        .ad {
            background: none;
            float: right;
            padding-right: 0;
        }
    }

    .content {

        .inner {
            max-width: 60em;
            display: table;
        }

        .nav {
            display: table-cell;
            width: 8em;
            padding-left: 3em;
            font-size: 1.2em;

            &.sticky {

                ul {
                    position: fixed;
                    top: 1em;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

            }

            li {
                margin: .35em 0;
            }
        }

        .main {
            display: table-cell;
        }
    }
}

// Large desktop
@media (min-width: 1210px) {
}
