// This is a convenient boilerplate less file for starting a project with ResponCSS

@import "theme";

// Style Defaults ------------------------------
body {

}

.header-bar {

}

table {

    td, th {
        width: 33%;
        text-align: center;
    }
}

.sidebar {

    .inner {
    }

    h1 {
    }

    .tagline {
    }

    .github-links {
    }

    .nav {
    }

    label {
        color: $gray;
        margin-right: .5em;
    }

    select {
        margin: 1.2em 0;
    }

    .button {

        &:hover, &:active, &:visited, &.active {
        }

    }

    .download {
    }

    .ad-container {
        margin: 1em 0;
    }

}

.content {

    .inner {
    }
}

.footer {

    .inner {
    }
}

// Media Queries ------------------------------
// Smartphones
@media (max-width: 480px) {

}

// Smartphone and Tablet Devices
@media (max-width: 767px) {

    .sidebar {

        .button {

            &:hover, &.active {
            }
        }
    }

}
 
// Portrait tablet
@media (min-width: 768px) {

    .sidebar {

        .button {

            &:hover, &.active {
            }
        }

        .download {
        }
    }

}
 
// Landscape tablet or desktop
@media (min-width: 981px) {

    a {

        &:hover {
        }
    }

    .sidebar {

        .inner {
        }

        h1 {
        }

        .tagline {
        }

        .github-links {
        }

        .nav {
        }

        .button {

            &:hover, &.active {
            }
        }
    }

    .content {

        .inner {
        }
    }

    .footer {
        
        .inner {
        }
    }
}
 
// Large desktop
@media (min-width: 1210px) {

    .sidebar {

        .inner {
        }

        .button {

            &:hover, &.active {
            }
        }
    }

    .content {

        .inner {
        }
    }

    .footer {

        .inner {
        }
    }
}