// Overwride any variables from styles/variables as needed here
// --------------------------------------------------------------

$black: #000;
$grayDarkest: #111;
$grayDarker: #333;
$grayDark: #666;
$gray: #999;
$grayLight: #CCC;
$grayLighter: #DDD;
$grayLightest: #F3F3F3;
$white: #fff;

$r-darkOrange: #E34C26;
$r-orange: #F06529;
$r-blue: #0092BF;
$r-green: #6FBF4D;
$r-gray: #EBEBEB;
$r-yellow: #F5BA3D;

$sColor: $r-darkOrange;
$mColor: $r-orange;
$lColor: $r-green;
$xlColor: $r-blue;