// Styles - https://github.com/adamwdraper/styles
// Utilities 0.0.1
// -----------------------------------------------------------------

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
.cf {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}

// CSS image replacement
// -------------------------
// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}