// Bonus Clearfix Style --------------------------------
.cf {
    @include clearfix();
}

// universal clear
.clear {
    clear: both;
}

// universal show
.show {
    display: block;
}

// universal hide
.hide {
    display: none;
}