// Grid column settings ------------------------------------------------------
// Change these settings to manipulate the number of colunms in each screen size
$s-columns: 4;
$m-columns: 8;
$l-columns: 12;
$xl-columns: 16;


// Container settings ---------------------------------------------------

// Change $c-gutter to adjust the width ratio of columns to gutter.
// Options: 0 (turns off gutters) or int (The higher the number, the wider the gutter)
$s-gutter: 0;
$m-gutter: 0;
$l-gutter: 0;
$xl-gutter: 0;

// Fractions -------------------------------------------------------------
// These are bonus classes that are generated 
$fractions: fth, qtr, thrd, fth2, half, fth3, thrd2, qtr3, fth4, full;
$fraction-divisors: 5, 4, 3, 5, 2, 5, 3, 4, 5, 1;
$fraction-multipliers: 1, 1, 1, 2, 1, 3, 2, 3, 4, 1;

// Block grid settings ---------------------------------------------------

// Change $g-gutter to adjust the width ratio of blocks to gutter.
// Options: 0 (turns off gutters) or int (The higher the number, the wider the gutter)
$s-b-gutter: 2;
$m-b-gutter: 3;
$l-b-gutter: 4;
$xl-b-gutter: 4;

// Largest block grid
// Block grids with values of 1 to this number will be created
$block-grid-through: 5;


// // Media screen widths ----------------------------------------------------
// // This will be implemented with sass 3.2 when it works with media query variables
// // Xtra Large - Target Screens: Large Desktop Monitors
// $xl-min-width: 1210px;

// // Large - Target Screens: Avg Desktop Monitors
// $l-min-width: 980px;
// $l-max-width: ($xl-min-width - 1);

// // Medium - Target Screens: Tablets, Low Res Desktop Monitors
// $m-min-width: 768px;
// $m-max-width: ($l-min-width - 1);

// // Small (Up to Medium min-width) - Target Screens: Smartphones, Tablets
// $s-max-width: ($m-min-width - 1);


